<div class="container px-5 px-sm-0">
    <div class="row">
        
  <div class="col-md-3 col-xs-3">
       <h2>User info</h2>
       <%= attachment_image_tag @cook.user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg" %>
     <table class="table">
      <tbody>
       <tr>
	        <th>name</th>
	        <th calss="profile-name"><%= @cook.user.name %></th>
	      </tr>
	      <tr>
	        <th>introduction</th></br>
	        <th calss="profile-name"> <%= @cook.user.introduction %></th></br>
       </tr>
      </tbody>
     </table>
       <%= link_to  edit_user_path(@cook.user),class:"btn btn-outline-secondary btn-block " do %>
       <i class="fas fa-user-cog"></i>
       <%end%>
       
       <h2 class="mt-3">New cook</h2>
       <%= form_with model:@cook_new, url:'/cooks', local:true do |f| %>
       <div class="form-group">
        <label for="book_title">Title</label>
        <%= f.text_field :title, class:"form-control cook_title" %>
       </div>
       <div class="form-group">
        <label for="cook_opinion">Opinion</label>
        <%= f.text_area :body, class:"form-control cook_body" %>
       </div>
       <div class="form-group">
        <%= f.submit 'Create Cook',class:"btn btn-success" %>
        <%end%>
       </div>
 </div>
        
     <div class="col-md-8 offset-md-1">
      <h2>Cook detail</h2>
      <table class="table table-hover table-inverse"> 
        
        <tbody>
         <tr>
                 <%= link_to user_path(@cook.user) do %>
             　　　<%= attachment_image_tag @cook.user, :profile_image, :fill, 60,60, format:"jpg",fallback: "no_image.jpg" %>
             　 　<%= @cook.user.name  %>
             　　　<%end%>
             　　　<%=link_to @cook.title, cook_path(@cook) %>
             　　　<%= @cook.body %>
             　　　<% if @cook.user.id == current_user.id %>
             　　　<%=link_to 'Edit',edit_cook_path(@cook)%>
             　　　<%=link_to 'Destroy'book_path(@cook), method: :delete, "data-confirm"=>"Are you sure"%>
             　　<%end%>
             </td>
         </tr>
         
        </tbody>
     </table>
   </div>
  </div>
</div>