

<div class="container px-5 px-sm-0">
    <div class="row">
        <%= render 'cooks/list', cook: @cook %>
     <div class="col-md-8 offset-md-1">
      <h2>Cook detail</h2>
      <table class="table table-hover table-inverse"> 
        
        <tbody>
         <% @cooks.each do|cook| %>
         <tr>
             <td><%= attachment_image_tag cook.user, :profile_image, :fill, 60,60, format:"jpg",fallback: "no_image.jpg" %></td>
             <td><%= link_to cook.user.name  %></td>
             <td><%=link_to cook.title, cook_path(cook.id) %></td>
             <td><%= cook.body %></td>
             
         </tr>
         <%end%>
        </tbody>
     </table>
   </div>
  </div>
</div>